JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=replace-me
JENKINS_URL=https://jenkins.example.com/
DOCKERHUB_USERNAME=replace-me
DOCKERHUB_TOKEN=replace-me
SES_SMTP_HOST=email-smtp.eu-central-1.amazonaws.com
SES_SMTP_PORT=587
SES_SMTP_USERNAME=replace-me
SES_SMTP_PASSWORD=replace-me
SES_FROM=verified-sender@example.com
SES_TO=verified-recipient@example.com
